<div class="main-content">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title" align="center" *ngIf="false">Transaci&oacute;n del Detalle de Descuento Global</h4>
      <h4 class="card-title" align="center" >Transaci&oacute;nes del Control de Subsidios</h4>
    </div>

    <div class="card-body" *ngIf="!loading">

      <form [formGroup]="formGroup" name="frmDetTodoseDescuento" novalidate>

        <div class="row">
          <div class="col-md-5">
            <label for="txtClient">Cliente</label>
            <input type="text" class="form-control" formControlName="txtName" placeholder="[Nombre del Cliente]"
              [(ngModel)]="resourceName" readonly>
          </div>
        </div>

        <label>Cuenta de Servicio</label>
        <div class="row">
          <div class="col-md-5">
            <angular2-multiselect [data]="dropdownList" formControlName="cboCta" [(ngModel)]="resourceCta"
              (onSelect)="onItemSelect($event)" [settings]="dropdownSettings">
            </angular2-multiselect>
          </div>
          <dir class="col-md-1"></dir>
          <div class="col-md-5">
            <input type="text" class="form-control" formControlName="txtCuentaServicio"
              placeholder="[Nombre de la Cuenta de Servicio]" [(ngModel)]="resourceuentaServicio" readonly>
          </div>
        </div>

        <div class="row">
          <div class="col-md-4">
            <label for="txtGlobal">Descuento Global</label>
            <input type="text" class="form-control" formControlName="txtGlobal" placeholder="[Descuento Global]"
              [(ngModel)]="resourceGlob" readonly>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label for="txtUtilizado">Descuento Utilizado</label>
            <input type="text" class="form-control" formControlName="txtUtilizado" placeholder="[Descuento Utilizado]"
              [(ngModel)]="resourceUtil" readonly>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label for="txtFlotante">Descuento Flotante</label>
            <input type="text" class="form-control" formControlName="txtFlotante" placeholder="[Descuento Flotante]"
              [(ngModel)]="resourceFlot" readonly>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <label for="txtDisponible">Descuento Disponible</label>
            <input type="text" class="form-control" formControlName="txtDisponible" placeholder="[Descuento Disponible]"
              [(ngModel)]="resourceDisp" readonly>
          </div>
        </div>
      </form>
    </div>
  </div>

  <br>

  <div class="row">

  </div>
  <h4 class="card-title" align="center">Detalle de Transacci&oacute;n</h4>

  <div class="col-md-6">
    <div class="row">
      <div class="col-lg-5 col-md-8 col-sm-5 mb-3" style="padding-top: 12px; padding-left: 0px;">
        <angular2-multiselect class="form-control" [data]="dropdownListExport" [(ngModel)]="selectedItemsExport"
          [settings]="dropdownSettingsExport">
        </angular2-multiselect>
      </div>

      <div class="form-group w-80">
        <button type="button" class="btn btn-fill btn-info"  [disabled]="loadPermiso('EX')" (click)="export()">
          Exportar
        </button>
      </div>
    </div>
  </div>


  <br>
  <!-- TABLA -->
  <div class="dataTables_wrapper">
    <div class="row">
      <div class="col-sm-12 col-md-6">
        <div class="dataTables_length" id="datatable_length">
          <label>
            Mostrar Filas:
            <select name="datatable_length" aria-controls="datatable" class="form-control form-control-sm"
              (change)="entriesChange($event)">
              <option value="10" [selected]="entries==10">10</option>
              <option value="25" [selected]="entries==25">25</option>
              <option value="50" [selected]="entries==50">50</option>
              <option value="-1" [selected]="entries==-1">Todos</option>
            </select>
          </label>
        </div>
      </div>
      <div class="col-sm-12 col-md-6">
        <div id="datatable_filter" class="dataTables_filter">
          <label>
            <input type="text" class="form-control form-control-sm" placeholder="Buscar" aria-controls="datatable"
              (keyup)="filterTable($event)" />
          </label>
        </div>
      </div>
    </div>

    <ngx-datatable class="bootstrap selection-cell" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50"
      [rowHeight]="'auto'" [limit]="entries != -1 ? entries:undefined" [rows]="temp">

      <ngx-datatable-column name="id">
        <ng-template ngx-datatable-header-template>C&oacute;digo</ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="idcliente">
        <ng-template ngx-datatable-header-template>Cliente</ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="cuentaservicio">
        <ng-template ngx-datatable-header-template>Cuenta de Servicio</ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="descuento">
        <ng-template ngx-datatable-header-template>Descuento Global</ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="descuentodetalle">
        <ng-template ngx-datatable-header-template>Descuento Utilizado</ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="descuentoflotante">
        <ng-template ngx-datatable-header-template>Descuento Flotante</ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="vigenciainicial">
        <ng-template ngx-datatable-header-template>Vigencia</ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.vigenciainicial | date: 'yyyy-MM-dd'}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="vigenciafinal">
        <ng-template ngx-datatable-header-template>Hasta</ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.vigenciafinal | date:'yyyy-MM-dd'}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="lineasnuevas">
        <ng-template ngx-datatable-header-template>Lineas Nuevas</ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="fechadetalle">
        <ng-template ngx-datatable-header-template>Fecha de Registro</ng-template>
        <ng-template let-row="row" ngx-datatable-cell-template>
          {{row.fechadetalle | date: 'yyyy-MM-dd hh-mm-ss'}}
        </ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="accion">
        <ng-template ngx-datatable-header-template>Acci&oacute;n</ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="canal">
        <ng-template ngx-datatable-header-template>Canal</ng-template>
      </ngx-datatable-column>
      <ngx-datatable-column name="transaccion">
        <ng-template ngx-datatable-header-template>Transaccion</ng-template>
      </ngx-datatable-column>
    </ngx-datatable>
  </div>

  <br />

  <!-- LOADER -->
  <div *ngIf="loading">
    <br><br><br>
    <div class="row text-center animated fadeIn">
      <div class="col">
        <i class="fa fa-sync fa-spin fa-3x"></i>
      </div>
    </div>
    <br><br><br>
  </div>

</div>


<div style="display: none;" id="print-section">
  <table id="exporTable" class="table">
    <thead class=" text-primary">
      <tr>
        <th>Codigo</th>
        <th>Cliente</th>
        <th>Cuenta de Servicio</th>
        <th>Descuento Global</th>
        <th>Descuento Utilizado</th>
        <th>Descuento Flotante</th>
        <th>Vigencia</th>
        <th>Hasta</th>
        <th>Linueas Nuevas</th>
        <th>Fecha de Registro</th>
        <th>Accion</th>
        <th>Canal</th>
        <th>Transaccion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of temp">
        <td>{{item.id}}</td>
        <td>{{item.idcliente}}</td>
        <td>{{item.cuentaservicio}}</td>
        <td>{{item.descuento}}</td>
        <td>{{item.descuentodetalle}}</td>
        <td>{{item.descuentoflotante}}</td>
        <td>{{item.vigenciainicial}}</td>
        <td>{{item.vigenciafinal}}</td>
        <td>{{item.lineasnuevas}}</td>
        <td>{{item.fechadetalle}}</td>
        <td>{{item.accion}}</td>
        <td>{{item.canal}}</td>
        <td>{{item.transaccion}}</td>
      </tr>
    </tbody>
  </table>
</div>